#float {
  width: 310px;
  height: 75px;
  float: left;
  margin: 5px;
}
.h-screen{
  background-image: url(../../public/dresses.jpg);
  max-height: 700px;
}

#dress {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.text {
  visibility: hidden;
  height: 40px;
}

.k {
  border: thick solid white;
}
